.treinamento-card-buttons {
  display: flex;
  flex-direction: column;
}

@media (min-width: 992px) {
  .treinamento-card-buttons {
    min-width: 260px;
    flex-direction: row;
    justify-content: space-evenly;
  }
}