.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 320px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 1px 0px 10px 4px #ccc;
  width: 300px;
}

.login-form span {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 80%;
  font-size: 14px;
  font-weight: 700;
}

.login-form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.login-form-logo {
  display: none;
}

@media (min-width: 576px) {
  .login-form {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .login-container {
    height: 450px;
  }

  .login-form {
    width: 780px;
    flex-direction: row;
  }

  .login-form-content {
    min-height: 290px;
  }

  .login-form-logo {
    display: unset;
  }

  .login-form-logo img {
    width: 250px;
    height: 137px;
  }
}
