.treinamento-container {
  width: calc(100% - 20px);
  margin: 20px auto;
}

.treinamento-input-group {
  font-size: 15px;
  margin: 12px 10px;
}

.treinamento-input-group input,
.treinamento-input-group select {
  font-size: 15px;
}

.treinamento-content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 0 10px 7px #ccc;
  margin-bottom: 10px;
  width: 100%;
  flex: 1;
}

.treinamento-form {
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media (min-width: 768px) {
  .treinamento-input-group {
    font-size: 15px;
    margin: 12px 0px;
  }

  .treinamento-content {
    display: flex;
    justify-content: space-between;
  }

  .treinamento-left {
    width: calc(50% - 15px);
    margin: 0 auto;
  }

  .treinamento-right {
    width: calc(50% - 15px);
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .treinamento-container {
    width: calc(100% - 40px);
    margin: 40px auto;
  }
  .treinamento-left {
    width: calc(50% - 45px);
  }

  .treinamento-right {
    width: calc(50% - 45px);
  }
}
