.button {
  min-width: 120px;
  height: 40px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 0;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.015em;
  padding: 0 5px;
}

.act-button {
  min-width: 70px;
  height: 40px;
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 0;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.015em;
  padding: 0 5px;
}

.round-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  font-weight: 600;
  font-size: 16px;
}

.create-button {
  background-color: #36a304;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.create-button:hover {
  background-color: #236e00ce;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: #0053acec;
}

.edit-button {
  background-color: #b47b00;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.edit-button:hover {
  background-color: #885d00e5;
}

.delete-button {
  background-color: #b11f05;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.delete-button:hover {
  background-color: #791605e7;
}

.input-element {
  width: 240px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  height: 40px;
  color: #333;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.03em;
  padding-left: 10px;
  background-color: #f8f8f8;
}

.div-erro {
  margin-top: 0 !important;
  margin-bottom: 0.4rem;
}

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.pagination-select-label,
.pagination-displayed-rows-label {
  margin: 0;
}

.pagination-toolbar {
  display: flex;
  width: 100%;
}

.no-elements-on-table {
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #ff7860;
}

.campo-obrigatorio {
  color: #c71c1c;
}

.flex-column {
  display: flex;
  flex-direction: column;
}